<div>
    <%= pizza.title %> (<%= size %>)
    <div>Ціна: <%= pizza[size].price %> грн.</div>
    <div>
        <button class="btn btn-danger minus">-</button>
        <span class="label label-default"><%= quantity %></span>
        <button class="btn btn-success plus">+</button>
    </div>
</div>

  <div class=boughtRow>\n<h3><%= pizza.title %> (<%= size %>)</h3>\n<p class='DB'> <img src='assets/images/size-icon.svg'><%= pizza[size].size %></p>\n<p class='MB'> <img src='assets/images/weight.svg'><%= pizza[size].weight %></p>\n<div class='boughtBlock'>\n<img class='rightBoughtImg' src='<%= pizza.icon %>' >\n<span class='price'>Ціна: <%= pizza[size].price %> грн.</span>\n<button data-tooltip='toolTip' class='minus'>-</button> <label class='Labelamount'>\n<div class='DivCount'><%= quantity %></div>\n</label> <button data-tooltip='toolTip' class='plus'>+</button>\n<button data-tooltip='toolTip' class='X'>x</button>\n</div>\n\n</div>